<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <label>名前：
      <input type="text" v-model="author.name" />
    </label>
    <br />
    <label>年齢：
        <input type="number" v-model="author.age" />
    </label>  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
  <script src="js/watcher_option.js"></script>
</body>
</html>